body {
    color: lightskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: darkslategrey;
}

h1 {
    color: darkorange;
}

img {
    border: 5px solid red;
}

button {
    outline: 10px solid blue;
    border: 10px solid purple;
}

.option {
    color: blanchedalmond;
}

#title {
    color: darkmagenta
}

